<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body{ font-family:'Helvetica Neue', Helvetica, 'Open Sans', sans-serif;  }
    </style>
  </head>
  <body>
    <p><strong>New Collection: <%= @name %></strong></p>
    <p>You have successfully created a new collection at <a href="https://refsort.com">refsort.com</a></p>
    <p>Follow this link to sort your collection:<br><a href="<%= @sort %>"><%= @sort %></a></p>
    <p>To manage your collection, just follow this link:<br><a href="<%= @secret %>"><%= @secret %></a></p>
    <p>Ping me if you need help!</p>
  </body>
</html>
